
 
 <div> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</div>
   
    <p>Welcome to the Recepit app! If you are seeing this page, then everything is working
      as expected.</p>


