
    <p>Welcome to the Recepit app! If you are seeing this page, <br>
    then everything is working
      as expected.</p>

<br>
 <div> Please <a href="/sign_up">Sign Up</a> or <a href="/login">Log In</a> to continue.</div>
   
   


