<h1>This is the pay_receipt Models index page.</h1>


<p> Read up on this (what goes on here.)</p>


<%if logged_in?%>

     <h2>Welcome, User: <%= current_user.name %></h2>
      <!-- # we use our current_user method here. -->
      <!-- notes:  iterate to show all tweets -->
      <%@pay_receipts.each do |pay_receipt| %>
        <a href="/pay_receipts/<%=pay_receipt.id%>"><h3> Pay_receipt:  <%=pay_receipt.content%></h3> </a>

      <%end%>
  <%else%>
     <%'/login'%>
      <!-- closes the if statament -->
  <%end%>
<br>

<h4>Create a New pay_receipt</h4>
    <a href="/pay_receipts/new">Create New pay_receipt</a>
<br>
</br>

  <a href="/logout">Log Out</a>
